.background {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 90%;
  
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 75%;
  filter: brightness(1.2) contrast(0.9) blur(2px);
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px #ff1010;
  font-size: 1.5em;
}

.delivery-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.delivery-section h2 {
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  gap: 10px;
}

.input-box {
  padding: 10px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.buttonContainer {
  position: relative;
  background-color: rgba(0, 204, 255, 0.884);
  width: 12em;
  height: 12em;
  margin: 1em;
  cursor: pointer;
  padding: 0;
  border: 0;
  border-radius: 10px;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: center;
}

.missionStatement {
  background: var(--secondary-color);
  padding: 1em 1.5em;
  margin: 2em;
  border-radius: 3em;
  width: 15em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.missionStatement > ul {
  text-align: start;
}

.missionStatement > ul > li {
  margin: 0.5em;
}

.carsSneakPeak > div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.carsSneakPeak img {
  width: 15em;
  margin: 1em;
  border-radius: 0.5em;
}

@media only screen and (max-width: 1950px) {
  /* body {
    background-color: black;
  } */

  .content > h1 {
    display: none;
  }

  h2 {
    font-size: 1.2em;
  }

  .buttonContainer {
    width: 10em;
    height: 10em;
  }

  .buttonContainer * {
    font-size: 15px;
  }

  .missionStatement {
    margin: 10px;
    padding: 0.5em 1em;
    width: 17em;
  }

  .missionStatement * {
    font-size: 15px;
  }

  .homePageContent {
    display: grid;
    grid-template-areas:
      "homePageButtons info"
      "carsSneakPeak carsSneakPeak";
  }

  .homePageButtons {
    grid-area: homePageButtons;
    display: flex;
    align-items: center;
    justify-self: center;
  }

  .info {
    grid-area: info;
    justify-content: initial;
  }

  .carsSneakPeak {
    grid-area: carsSneakPeak;
  }

  .carsSneakPeak img {
    width: 13em;
  }

  .carsSneakPeak > h2 {
    margin-bottom: 0;
  }
}

.home-page-input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}