/* Container for spacing */
.container {
  margin-top: 30px; 
}

/* Table styles for order display */
.userTable, 
.vehicleTable, 
.orders_Table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

/* Styles for the buttons inside the confirmation area */
.confirmation > button,
.confirmation > input {
  width: 6em; 
  padding: 8px; 
}

/* Button colors */
.deleteButton {
  background-color: red; 
  color: white;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 12px;
  outline: none;
  cursor: pointer;
}

.updateButton {
  background-color: green; 
  color: white;
    border: 1px solid #aaa;
  border-radius: 10px;
  padding: 12px;
  outline: none;
  cursor: pointer; 
}

/* Hidden form styling */
.hiddenForm {
  background-color: red;
  display: none;
}

/* Modify reservation table styles */
.modifyReservationTable {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black; 
}

/* Checkbox container for scrolling */
.checkbox-container {
  height: 70px; 
  overflow-y: scroll;
  margin-top: 10px;
}

.checkbox-container table {
  margin: 0; 
}

/* Styling for datetime-local input fields */
.input_fields[type="datetime-local"] {
  width: 80%;
}

.inputDropdown {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 12px;
  outline: none;
  cursor: pointer;
}

.orders_Table td {
  padding: 4px;
}



