.userTable,.vehicleTable{
    width:100%;
    border: 1px solid black;
}

.confirmation > button, .confirmation > input {
    width: 5em;
    padding: 5px;
}

#deleteButton{
    background-color: red; 
    color: white;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 12px;
    outline: none;
    cursor: pointer;
}

#updateButton{
    background-color: green;
    color: white;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 12px;
    outline: none;
    cursor: pointer;
}

.hiddenForm{
   background-color: red;
   display: none;
}

.choosing_options{
border: 1px solid #aaa;
  border-radius: 10px;
  padding: 12px;
  outline: none;
  cursor: pointer;
}