.navbar{
    height: 4rem;
    width: auto;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    position:sticky;
    top: 0;
    z-index:3;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.navTitleName{
    color: #000000;
    text-decoration: none;
    height: 50px;
    width: 150px;
}

.navTitleName img{
    width: 120%; /* Ensure the image fills the container horizontally */
    height: 120%; /* Ensure the image fills the container vertically */
    object-fit: contain;
}

.site-title {
    font-size: 1.5rem; /* Adjust font size for the title */
    color: #000000;
}

.contactus {
    margin-left: 20px; /* Space between the title and contact button */
}

/***** Right-side Auth Buttons *****/
.auth-buttons {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the buttons to the right */
}

.LogBtn{
    background-color: #0D98BA;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Space between buttons */
}

.SignBtn,.contactus {
    background-color: white;
    color: #000000;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Space between buttons */
}

.LogBtn:hover, .SignBtn:hover,.contactus:hover {
    background-color: #354AF2;
    color: #FFFEE0;
}

.aside-menu {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    width: 200px;
    background-color: #f3f3f3;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.aside-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.aside-menu li {
    padding: 10px;
}

.aside-menu li:hover {
    background-color: #ddd;
}

.aside-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}