body {
  background-color: white;
  /*background-color: #0D98BA;*/
  margin: 0;
  padding: 0;
  height: 100%;
}

.top-background {
  position: relative;
  width: 100%;
  height: 700px; /* Adjust the height as needed */
  overflow: hidden;
}

.top-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Images/Untitled design.png');
  background-size: cover;
  background-position: center;
  filter: blur(3px); /* Adjust the blur intensity as needed */
}

.App {
  text-align: center;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
